<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <mat-card-content>
      <div class="login-form">
        <mat-form-field [appearance]="'outline'">
          <mat-label>Email</mat-label>
          <input [required]="true" type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field [appearance]="'outline'">
          <mat-label>Password</mat-label>
          <input [required]="true" type="password" matInput formControlName="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
      <button mat-button routerLink="../register">Register</button>
      <button type="submit" [disabled]="loginForm.invalid || loading" mat-raised-button color="accent">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
