<mat-card class="email" id="{{email.id}}">
  <mat-card-header>
    <mat-icon mat-card-avatar>email</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{email.subject}}</mat-card-title>
      <mat-card-subtitle>from: {{email.from}}</mat-card-subtitle>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngFor="let user of email.to">{{user}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div>{{email.content}}</div>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-button style="margin-right: auto" (click)="onRead()">Mark as read</button>
    <button mat-icon-button color="primary">
      <mat-icon>reply</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onRemove()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
