<mat-card class="email" id="{{ email.id }}">
  <mat-card-header>
    <mat-icon mat-card-avatar>email</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ email.subject }}</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngFor="let user of email.to">{{user}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="!canEditEmail" style="padding: 10px;">
      <span>{{ email.content }}</span>
    </div>

<!--    homework-->
    <div *ngIf="canEditEmail">
      <textarea id="edit-window" [(ngModel)]="email.content"></textarea>
    </div>
<!--    homework-->

  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button style="margin-right: auto;" mat-button (click)="onSeen()">Mark as Seen</button>

<!--    homework-->
    <button *ngIf="!canEditEmail" (click)="onEdit()" color="primary" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button id="save" *ngIf="canEditEmail" (click)="onSave()" mat-button>Save</button>
<!--    homework-->

    <button (click)="onRemove()" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button color="primary" mat-icon-button>
      <mat-icon>reply</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
