.example-form {
  max-width: 900px;
  width: 100%;
}

.send-button {
  padding-bottom: 10px;
}

.content-area {
  min-height: 250px;
}

.basic-input {
  height: 15px;
}

.title {
  padding-bottom: 15px;
}

