<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
    <mat-card-content>
      <div class="register-form">
        <mat-form-field [appearance]="'outline'">
          <mat-label>Username</mat-label>
          <input [required]="true" type="text" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field [appearance]="'outline'">
          <mat-label>Email</mat-label>
          <input [required]="true" type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field [appearance]="'outline'">
          <mat-label>Phone number</mat-label>
          <input [required]="true" type="tel" matInput formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field [appearance]="'outline'">
          <mat-label>Password</mat-label>
          <input [required]="true" type="password" matInput formControlName="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <button mat-button routerLink="../login">Login</button>
      <button type="submit" [disabled]="registerForm.invalid || loading" mat-raised-button color="accent">Register</button>
    </mat-card-actions>
  </form>
</mat-card>
