<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="true" class="example-sidenav" mode="side">
    <div class="profile" *ngIf="authService.currentUser">
      <h4>{{authService.currentUser.username}}</h4>
      <small>{{authService.currentUser.email}}</small>
    </div>
    <mat-nav-list>
      <ng-container *ngIf="!authService.currentUser">
        <mat-list-item routerLink="auth/login">
          <a matLine>Login</a>
        </mat-list-item>
        <mat-list-item routerLink="auth/register">
          <a matLine>Register</a>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="authService.currentUser">
        <mat-list-item routerLink="emails">
          <a matLine class="badge">
            <span matBadge="{{newEmailsCount}}" matBadgeSize="small" [matBadgeHidden]="newEmailsCount == 0">
              Emails
            </span>
          </a>
        </mat-list-item>
        <mat-list-item routerLink="create">
          <a matLine>Write email</a>
        </mat-list-item>
        <mat-list-item (click)="logout()">
          <a matLine>Logout</a>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
