<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <div class="profile">User Profile</div>
    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/auth/login">Login</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/auth/register">Register</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/emails">Emails</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
