<div>
  <mat-card>

    <mat-card-header>
      <mat-icon mat-card-avatar>email</mat-icon>
      <mat-card-title-group>
        <mat-card-title class="title">Compose an email</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline" class="example-form">
        <mat-label>From:</mat-label>
        <textarea class="basic-input" matInput [(ngModel)]="from" placeholder="Dear <name>..."></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-form">
        <mat-label>To:</mat-label>
        <textarea class="basic-input" matInput [(ngModel)]="to" placeholder="Dear <name>..."></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-form">
        <mat-label>Subject</mat-label>
        <textarea class="basic-input" matInput [(ngModel)]="subject" placeholder="Dear <name>..."></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-form">
        <mat-label>Enter your email text here</mat-label>
        <textarea class="content-area" matInput [(ngModel)]="content" placeholder="Dear <name>..."></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions [align]="'end'">
      <div class="send-button" routerLink="email/compose">
        <button type="button" mat-raised-button color="accent" (click)="onSend()">Send</button>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
